In [72]:
import sqlite3
import numpy as np
import pylab as pl
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

from math import sqrt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

%matplotlib inline

In [2]:
cnx = sqlite3.connect('database.sqlite')
df = pd.read_sql_query("SELECT * FROM Player_Attributes", cnx)

In [3]:
df.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,...,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,...,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,...,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [7]:
df.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [8]:
df.describe()

,id,player_fifa_api_id,player_api_id,overall_rating,potential,crossing,finishing,heading_accuracy,short_passing,volleys,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
count,183978.00000,183978.000000,183978.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000,181265.000000,...,181265.000000,183142.000000,183142.000000,183142.000000,181265.000000,183142.000000,183142.000000,183142.000000,183142.000000,183142.000000
mean,91989.50000,165671.524291,135900.617324,68.600015,73.460353,55.086883,49.921078,57.266023,62.429672,49.468436,...,57.873550,55.003986,46.772242,50.351257,48.001462,14.704393,16.063612,20.998362,16.132154,16.441439
std,53110.01825,53851.094769,136927.840510,7.041139,6.592271,17.242135,19.038705,16.488905,14.194068,18.256618,...,15.144086,15.546519,21.227667,21.483706,21.598778,16.865467,15.867382,21.452980,16.099175,17.198155
min,1.00000,2.000000,2625.000000,33.000000,39.000000,1.000000,1.000000,1.000000,3.000000,1.000000,...,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,45995.25000,155798.000000,34763.000000,64.000000,69.000000,45.000000,34.000000,49.000000,57.000000,35.000000,...,49.000000,45.000000,25.000000,29.000000,25.000000,7.000000,8.000000,8.000000,8.000000,8.000000
50%,91989.50000,183488.000000,77741.000000,69.000000,74.000000,59.000000,53.000000,60.000000,65.000000,52.000000,...,60.000000,57.000000,50.000000,56.000000,53.000000,10.000000,11.000000,12.000000,11.000000,11.000000
75%,137983.75000,199848.000000,191080.000000,73.000000,78.000000,68.000000,65.000000,68.000000,72.000000,64.000000,...,69.000000,67.000000,66.000000,69.000000,67.000000,13.000000,15.000000,15.000000,15.000000,15.000000
max,183978.00000,234141.000000,750584.000000,94.000000,97.000000,95.000000,97.000000,98.000000,97.000000,93.000000,...,97.000000,96.000000,96.000000,95.000000,95.000000,94.000000,93.000000,97.000000,96.000000,96.000000

In [9]:
df["overall_rating"].max()

94.0

In [10]:
df["overall_rating"].min()

33.0

In [34]:
df1 = df.dropna()

In [35]:
df1.shape

(180354, 42)

In [36]:
df.shape

(183978, 42)

In [37]:
df1.columns

Index(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'overall_rating',
       'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys', 'dribbling', 'curve', 'free_kick_accuracy',
       'long_passing', 'ball_control', 'acceleration', 'sprint_speed',
       'agility', 'reactions', 'balance', 'shot_power', 'jumping', 'stamina',
       'strength', 'long_shots', 'aggression', 'interceptions', 'positioning',
       'vision', 'penalties', 'marking', 'standing_tackle', 'sliding_tackle',
       'gk_diving', 'gk_handling', 'gk_kicking', 'gk_positioning',
       'gk_reflexes'],
      dtype='object')

In [38]:
del df1["id"]
del df1["player_fifa_api_id"]
del df1["player_api_id"]

In [39]:
df1["overall_rating"].min()

33.0

In [44]:
df1["new_date"] = df1["date"].apply(pd.to_datetime)

/Users/ernestkirubakaran/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
df1["new_date"][0].day

18

In [58]:
df1["month"] = df1["new_date"].apply(lambda x: x.month)

/Users/ernestkirubakaran/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
df1["year"] = df1["new_date"].apply(lambda x: x.year)

/Users/ernestkirubakaran/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [61]:
df1["day"] = df1["new_date"].apply(lambda x: x.day)

/Users/ernestkirubakaran/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [50]:
df1["year"].unique()

array([ 2016.,  2015.,  2007.,  2014.,  2013.,  2012.,  2011.,  2010.,
        2009.,  2008.,    nan])

In [54]:
df1["crossing"]

0           49.0
1           49.0
2           49.0
3           48.0
4           48.0
5           80.0
6           80.0
7           79.0
8           79.0
9           79.0
10          79.0
11          79.0
12          79.0
13          78.0
14          78.0
15          78.0
16          77.0
17          77.0
18          77.0
19          77.0
20          77.0
21          77.0
22          77.0
23          77.0
24          77.0
25          77.0
26          77.0
27          77.0
28          77.0
29          77.0
            ...
183934      42.0
183935      42.0
183936      42.0
183937      65.0
183938      65.0
183939      65.0
183940      65.0
183941      65.0
183942      65.0
183943      65.0
183944      65.0
183945      65.0
183946      65.0
183947      73.0
183948      73.0
183949      73.0
183950      71.0
183951      68.0
183952      68.0
183968      77.0
183969      80.0
183970      80.0
183971      81.0
183972      84.0
183973      84.0
183974      74.0
183975      74.0
183976      74.0
183977      74.0
new_date     NaN
Name: crossing, Length: 180355, dtype: float64

In [62]:
cat_cols =  ["preferred_foot", "attacking_work_rate", "defensive_work_rate", "year", "month", 
            "day"]

In [57]:
df1.head()

,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,...,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes,new_date,year
0,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,...,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2016-02-18,2016.0
1,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,...,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0,2015-11-19,2015.0
2,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,...,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0,2015-09-21,2015.0
3,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,...,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2015-03-20,2015.0
4,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,...,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0,2007-02-22,2007.0

In [63]:
del df1["date"]
del df1["new_date"]

In [64]:
cat_cols

['preferred_foot',
 'attacking_work_rate',
 'defensive_work_rate',
 'year',
 'month',
 'day']

In [65]:
for col in cat_cols:
    dummies = pd.get_dummies(df1[col], prefix = col)
    df1 = df1.join(dummies)
    df1.drop(col, axis = 1)

In [66]:
df1.columns

Index(['overall_rating', 'potential', 'preferred_foot', 'attacking_work_rate',
       'defensive_work_rate', 'crossing', 'finishing', 'heading_accuracy',
       'short_passing', 'volleys',
       ...
       'day_22.0', 'day_23.0', 'day_24.0', 'day_25.0', 'day_26.0', 'day_27.0',
       'day_28.0', 'day_29.0', 'day_30.0', 'day_31.0'],
      dtype='object', length=122)

In [67]:
df1.shape

(180355, 122)

In [68]:
df1.dropna(inplace = True)

In [69]:
df1.shape

(180354, 122)

In [70]:
y = df1.pop("overall_rating")
X = df1

In [73]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.2)

In [74]:
train_x.shape

(144283, 121)

In [75]:
train_y.shape

(144283,)

In [76]:
test_x.shape

(36071, 121)

In [77]:
test_y.shape

(36071,)

In [78]:
lm = LinearRegression()

In [79]:
lm.fit(train_x, train_y)

ValueError: could not convert string to float: 'medium'